:root {
    --spring: #61AC4A;
    --apple: #C44848;
    --sky: #37C2A6;
    --grayce: #C2C2C2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Segoe UI';
}
.background {
    background-image: linear-gradient(to left, #0174BC 0%, #3292C4 100%);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}
.background img {
    position: absolute;
    bottom: 0;
    width: 100vw;
}
.arrow-back {
    position: absolute;
    z-index: 2;
    top: 5%;
    left: 5%;
    width: 50px;
    height: 50px;
}
.arrow-back img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.title-wrap {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.title-wrap h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 400;
    color: white;
}
.table-content {
    margin: 0 auto;
    position: absolute;
    height: 60vh;
    width: 80vw;
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}
.table  {
    position: relative;
    width: 240px;
    left: -100px;
    height: 0%;
    margin: 0 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: -6px 6px 20px 0px rgba(0,0,0,0.50);
}
.title {
    position: absolute;
    top: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    height: 6em;
    width: 100%;
    border-radius: 12px 12px 0 0;
    position: relative;
}
.one .title {
    background: var(--spring);
}
.two .title {
    background: var(--apple);
}
.three .title {
    background: var(--sky);
}
.title h2 {
    font-size: 1.9em;
    font-weight: 350;
    margin: 0 0 .5em 0;
}
.title h4 {
    font-size: .8em;
    font-weight: 400;
}
.table-body {
    font-size: 50px;
    height: 6.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--grayce); 
    border-radius: 0 0 12px 12px;
}
.table-body div {
    width: 80%;
    border-bottom: 1px solid #A2A2A2;
    padding: 8px;
    display: none;
}
.table-body h5 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 100%;
}
.table-body button {
    user-select: none;
}
.buy-now {
    height: 12%;
    width: 60%;
    border: none;
    color: #FFF;
    font-weight: 400;
    font-size: 1rem;
    margin: 0 0 15px;
    user-select: none;
    cursor: pointer;
    display: none;
}
.one .buy-now {
    background: var(--spring);
}
.two .buy-now {
    background-color: var(--apple);
}
.three .buy-now {
    background-color: var(--sky);
}
.one .buy-now:hover {
    background: rgb(100, 219, 82);
    box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.20);
    transition: .3s;
}
.two .buy-now:hover {
    background-color: rgb(250, 83, 83);
    box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.20);
    transition: .3s;
}
.three .buy-now:hover {
    background-color: rgb(63, 223, 191);
    box-shadow: -1px 1px 15px 0px rgba(0,0,0,0.20);
    transition: .3s;
}